@model PhotoR.Models.Photo
@{
    ViewBag.Title = "Edit photo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Photo"))
{
    @Html.Hidden("Id", Model.Id)

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Uri", "Photo uri")
    <br />
    @Html.Editor("Uri")
    @Html.ValidationMessageFor(m => m.Uri, "", new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-success" type="submit">Save edits</button>
}
