@model PhotoR.Models.Photo
@{
    ViewBag.Title = "Edit photo";
}
<br />

<div style="text-align:center">
    <div class="card card-4" style="text-align:left">

        @Html.Label("Photo name:")
        <p>@Model.FileName</p>
        <div>
            <a href="/Photo/ImageEditor/@Model.Id">
                <img src="~/Assets/@Model.FileName" alt="Photo unavailable" style="max-width:400px; max-height:300px" />
            </a>
        </div>
        <br />
        <div>

            @using (Html.BeginForm(actionName: "Edit", controllerName: "Photo"))
            {
                @Html.Hidden("Id", Model.Id)

                @Html.Hidden("FileName", Model.FileName)

                @Html.Hidden("UserId", Model.UserId)

                @Html.HttpMethodOverride(HttpVerbs.Put)

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Description", "Description:")
                <br />
                <input name="Description" type="text" class="form-control" value="@Model.Description" />
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                <br />

                @Html.Label("CategoryId", "Category:")
                <br />
                <select name="CategoryId" class="form-control">
                    @foreach (var category in ViewBag.Categories)
                    {
                        if (category.Id == Model.Category.Id)
                        {
                            <option value="@category.Id" selected>
                                @category.Name
                            </option>
                        }
                        else
                        {
                            <option value="@category.Id">
                                @category.Name
                            </option>
                        }
                    }
                </select>
                <br />

                @Html.Label("AlbumId", "Album:")
                <br />
                <select name="AlbumId" class="form-control">
                    @foreach (var album in ViewBag.Albums)
                    {
                        if (album.Id == Model.Album.Id)
                        {
                            <option value="@album.Id" selected>
                                @album.Name
                            </option>
                        }
                        else
                        {
                            <option value="@album.Id">
                                @album.Name
                            </option>
                        }
                    }
                </select>
                <br />
                <br />

                <button class="btn btn-success" type="submit">Save edits</button>
            }

            <br />
            <a class="btn btn-danger" href="/Photo/Show/@Model.Id">Cancel</a>
        </div>
    </div>
</div>
