@model PhotoR.Models.Photo
@{
    ViewBag.Title = "All photos";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@using (Html.BeginForm("Search", "Photo"))
{
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Description)
    <br />
    <br />
    <button type="submit" class="btn btn-success">Search</button>
    <a class="btn btn-success" href="/Photo/Index">All photos</a>
}

<br />
<hr />
<br />

<br />
<a class="btn btn-info" href="/Photo/New">Add new photo</a>
<br />
<hr />

<div id="columns">
    @foreach (var photo in ViewBag.Photos)
    {
        <figure>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
            </a>
            <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
        </figure>
    }
</div>
