@model PhotoR.Models.Photo
@{
    ViewBag.Title = "Add new photo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("New", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("description", "Description:")
    <br />

    @Html.TextBox("description", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    <br />

    @Html.Label("categoryId", "Category:")
    <br />
    <select name="categoryId">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.Id">
                @category.Name
            </option>
        }
    </select>
    <br />
    <br />

    @Html.Label("albumId", "Album:")
    <br />
    <select name="albumId">
        @foreach (var album in ViewBag.Albums)
        {
            <option value="@album.Id">
                @album.Name
            </option>
        }
    </select>
    <br />
    <br />

    <label for="file"> Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <br />

    <button class="btn btn-success" type="submit">Add photo</button>
}
