@model PhotoR.Models.Photo
@{
    ViewBag.Title = "Show Photo";
}

<h2>@ViewBag.Title</h2>

<p>@Model.Uri</p>

<p>@Model.Category.Name</p>

<p>@Model.User.UserName</p>

@*Delete Form*@
@using (Html.BeginForm(actionName: "Delete", controllerName: "Photo", routeValues: new { id = @Model.Id }))
{

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Delete Photo</button>

    <br />
    <a class="btn btn-success" href="/Photo/Index/">Show all photos</a>
}

<br />
<hr />
<br />

