@model PhotoR.Models.Photo
@{
    ViewBag.Title = "Show Photo";
}

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<h2>@ViewBag.Title</h2>


@Html.Label("Photo name")
<p>@Model.FileName</p>
<div>
    <a href="/Photo/ImageEditor/@Model.Id">
        <img src="~/Assets/@Model.FileName" alt="Photo unavailable" width="200" height="200" />
    </a>
</div>
<br />

@Html.Label("Description")
<p>@Model.Description</p>

@Html.Label("Category")
<p>@Model.Category.Name</p>

@Html.Label("User")
<p>@Model.User.UserName</p>


@*Delete Form*@
@using (Html.BeginForm(actionName: "Delete", controllerName: "Photo", routeValues: new { id = @Model.Id }))
{
    if (ViewBag.isAdmin || @Model.UserId == ViewBag.CurrentUser.Id)
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-success" type="submit">Delete Photo</button>
        <br />
        <br />
        <a class="btn btn-success" href="/Photo/Index/">Show all photos</a>
    }
}

<br />
<hr />

@using (Html.BeginForm(actionName: "AddComment", controllerName: "Photo"))
{
    @Html.Label("Comment", "Add comment")
    @Html.TextBox("content", null, new { @class = "form-control" })

    <input name="photoId" type="hidden" value="@Model.Id" />
    <br />

    <button class="btn btn-success" type="submit">Add comment</button>
}

<br />

@{
    ViewBag.CommentsPermission = (Model.UserId == ViewBag.CurrentUser.Id || ViewBag.IsAdmin);
}

@foreach (var comment in ViewBag.Comments)
{
    if (comment.UserId == ViewBag.CurrentUser.Id)
    {
        <form method="post" action="/Photo/EditComment/@comment.Id">
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <p><input type="text" name="Content" value="@comment.Content" /> - by @comment.User.UserName - @comment.CreatedAt.ToString()</p>
            <input type="hidden" value="@Model.Id" name="photoId" />

            <button class="btn btn-success" type="submit">Save edits</button>
        </form>
    }
    else
    {
        <p>@comment.Content - by @comment.User.UserName - @comment.CreatedAt.ToString()</p>
    }
    if (ViewBag.CommentsPermission || comment.UserId == ViewBag.CurrentUser.Id)
    {
        using (Html.BeginForm(actionName: "DeleteComment", controllerName: "Photo", routeValues: new { commentId = comment.Id, photoId = Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-success" type="submit">Delete Comment</button>
        }
    }

    <hr />
}
