@model PhotoR.Models.Category
@{
    ViewBag.Title = "Editare categorie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
{
    @Html.Hidden("CategoryId", Model.Id)

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Name", "Denumire categorie")
    <br />
    @Html.Editor("Name")
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
}