@model PhotoR.Models.Category
@{
    ViewBag.Title = "Show category";
}
<br />

<div class="card card-4">

    @Html.Label("Category Name:")
    <p>@Model.Name</p>

    @using (Html.BeginForm(actionName: "Delete", controllerName: "Category", routeValues: new { id = @Model.Id }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)

        if (User.IsInRole("Administrator"))
        {
            <button class="btn btn-danger" type="submit">Delete category</button>
        }
    }
</div>

<br />
<br />
@if (ViewBag.Photos.Count > 0)
{
    @Html.Label("Category photos:")
}
<div id="columns">
    @foreach (var photo in ViewBag.Photos)
    {
        <figure>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
            </a>
            <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
        </figure>
    }
</div>
