@model PhotoR.Models.Category
@{
    ViewBag.Title = "Show category";
}

<h2>@ViewBag.Title</h2>

<p>@Model.Name</p>

@using (Html.BeginForm(actionName: "Delete", controllerName: "Category", routeValues: new { id = @Model.Id }))
{

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Delete category</button>
}
<br />
<a class="btn btn-success" href="/Category/Index/">Show category list</a>

<br />
<hr />
<br />

<div id="columns">
    @foreach (var photo in ViewBag.Photos)
    {
        <figure>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
            </a>
            <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
        </figure>
    }
</div>