@model PhotoR.Models.Album
@{
    ViewBag.Title = "Show Album";
}

<br />

<div class="card card-4">

    @Html.Label("Album name:")
    <p>@Model.Name</p>

    @Html.Label("Album owner:")
    <p>@Model.User.UserName</p>


    <br />
    @*Delete Form*@
    @using (Html.BeginForm(actionName: "Delete", controllerName: "Album", routeValues: new { id = @Model.Id }))
    {

        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <button class="btn btn-danger" type="submit">Delete Album</button>
    }

</div>
<br />
<br />
@if (@Model.Photos.Count > 0)
{
    @Html.Label("Album photos:")
    <div id="columns">
        @foreach (var photo in @Model.Photos)
        {
            <figure>
                <a href="/Photo/Show/@photo.Id">
                    <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
                </a>
                <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
            </figure>
        }
    </div>
}
