<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="https://uicdn.toast.com/tui-color-picker/v2.2.3/tui-color-picker.css" rel="stylesheet">
    <link type="text/css" href="~/Content/tui-image-editor.css" rel="stylesheet">
    <link type="text/css" href="~/Content/imageList.css" rel="stylesheet">

    <style>
        #searchInput {
            width: 150px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

            /* When the input field gets focus, change its width to 100% */
           #searchInput:focus {
                width: 220px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhotoR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Album", "Index", "Album")</li>
                        <li>@Html.ActionLink("Photo", "Index", "Photo")</li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        <li>@Html.ActionLink("My profile", "Index", "Profile")</li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right navbar-btn">
                    <li>
                        <form action="/Photo/New" method="get">
                            <input type="image" src="~/Content/cloud-computing.png" width="32" height="32" style="margin-left: 16px">
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-btn">
                    <li>
                        @using (Html.BeginForm("Search", "Photo"))
                        {
                            <input id="searchInput" name="text" type="text" class="form-control" placeholder="Search..." />
                        }
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
